h1 {
  background-color: #63666a;
  font-size: 60px;
  color: #fff;
  padding: 25px;
  text-align: center;
}

h2 {
  color: #63666a;
  font-size: 30px;
}

.forecast {
  background-color: blue;
  color: #fff;
  width: 11em;
}

img {
  max-width: 65px;
  max-height: 65px;
  padding-bottom: 10px;
}
